.title,
.columna-1 h2,
.columna-2 h2
 {
	text-align: center;
}
.columna-1 h2,
.columna-2 h2{
	font-size: 1.2rem;
}

.columna-1 p,
.columna-2 p{
	margin: 1rem 2rem;
}

.video-container{
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}
.video{
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}
@media screen and (min-width: 768px) {
	.video-container{
		margin: 0 10%;
	}
	.video{
		height: 56.25%;
	}
}